/**
 * @file
 * This file defines the page layout structure.
 */

#page{
  margin: 0 auto;
  width: 900px;
}

/**
 * To change the width of a sidebar, just modify the corresponding values of this sidebar.
 * For example, If you want to change the width of the right sidebar to 250px, change the
 * value of each line commented "Right Sidebar width" to 250px
 */

#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

.sidebar {
  float: left;
}

.two-sidebars #content-inner {
  margin-left: 200px;   /* Left Sidebar width */
  margin-right: 175px;  /* Right Sidebar width */
}

.sidebar-right #content-inner {
  margin-right: 175px;  /* Right Sidebar width */
}

.sidebar-left #content-inner {
  margin-left: 200px;   /* Left Sidebar width */
}

#sidebar-left {
  width: 200px;
  margin-right: -200px;
}

#sidebar-right{
  float: right;
  width: 175px;
}

#footer {
  clear: both;
  float: none;
}

/* Layout Helpers */

#header,
#footer,
#main #content .mission,
#main #content .breadcrumb,
#main #content .node {
  clear: both;
}
