/**
 * @file
 * General Styles
 *
 * Sub-themes will probably want to override this file.
 * If used as a starter, perform all styling changes in this file.
 */

html {
  overflow-y: scroll; /* Force a scrollbar in non-IE */
  -webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
  -ms-text-size-adjust: 100%;
}

body {
  background: #fff url(../images/mich-ave-bg.png) repeat-x center top;
  color: #333;
  font-size: 81.25%;
}

body, button, caption, fieldset,  legend, option, select, td, th  {
  font: 1em/1.538 Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  letter-spacing: 0.5px;
}

input, textarea {
  font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
}

#page {
}

#header {
  margin: 0;
  padding: 0 0 1.538em;
}

h1#site-name {
  margin: 0.7419em 0;
  padding: 0;
}

#site-name a {
  background: url("../images/mich-ave-all-text.png") no-repeat left top;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 67px 0 0;
  text-decoration: none;
}

#navigation {
  /*padding: 0 0 0 40px;*/
}

ul.primary-links { }

ul.primary-links li { }

ul.primary-links a { }

ul.primary-links li.menu-228 a { }

ul.primary-links li.menu-301 a { }

ul.primary-links li.menu-230 a { }

ul.primary-links li.menu-272 a { }

ul.primary-links li.menu-290 a { }

ul.secondary-links { }

ul.secondary-links li { }

ul.secondary-links a { }

#content-inner {
}

#sidebar-left {
}

#sidebar-right {
}

#footer {
  color: #333;
  font-size: 0.833em; /* 10.833px */
  line-height: 1.8462em;
  margin: 0 0 1.8462em;
  text-align: center;
}

#block-menu-menu-footer-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-menu-menu-footer-links ul li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-menu-menu-footer-links a {
  color: #444;
  font-size: smaller;
  font-weight: normal;
  text-decoration: underline;
}

/* Titles  */
/* Font size = 13px (81.25%), line height = 20px (1.538em), interval = minor third (1:1.2) */
/* http://modularscale.com/scale/?px1=13&px2=13&ra1=1.2&ra2=0 */

h1 {
  font-size: 2.074em; /* 26.957px */
  line-height: 1.4838em;
  margin: 0 0 0.7419em;
}

h2 {
  color: #000;
  font-size: 1.728em; /* 22.464px */
  line-height: 1.780em;
  margin: 0 0 0.89em;
}

h3 {
  color: #333;
  font-size: 1.44em; /* 18.720px */
  line-height: 1.068em;
  margin: 0 0 1em;
}

h4 {
  color: #555;
  font-size: 1.2em; /* 15.600px */
  line-height: 1.282em;
  margin: 0 0 1.282em;
}

h5, h6 {
  font-size: 1em;
}

/* When declaring Link states, remember: LoVe HA : Link | Hover | Visited | Active */

a:link, a:visited {
  color: #000;
}

a:hover, a:active { }

/* Content area tweaks */

blockquote {
  border-left: 3px solid #DEF5E5;
}

.leader {
  color: #000;
  font-size: medium;
}

#views_slideshow_singleframe_main_image_rotator-block_1 {
  height: 350px;
  margin: 0 auto;
}

/* Theme Artwork Page Links */

ul.artwork-options {
  list-style-type: none;
  height: 160px;
  padding-left: 0;
}

ul.artwork-options li {
  list-style-type: none;
  display: inline;
}

ul.artwork-options a {
  display: block;
  float: left;
  height: 0;
  margin: 0 2px;
  overflow: hidden;
  padding: 158px 0 0;
  width: 200px;
}

ul.artwork-options a.digitalart {
  background: url("../images/artes.jpg") no-repeat -4px 0;
}

ul.artwork-options a.photography {
  background: url("../images/artes.jpg") no-repeat -219px 0;
}

ul.artwork-options a.fineart {
  background: url("../images/artes.jpg") no-repeat -432px 0;
}

ul.artwork-options a.writing {
  background: url("../images/artes.jpg") no-repeat -643px 0;
}

/* Views */

.view-images .views-view-grid td {
  font-size: 0.833em; /* 10.833px */
  line-height: 1.3em;
  text-align: center;
  width: 33%;
}

.contributor-list{
  text-align: center;
}

.contributor-list h3 {
  margin: 0.5em 0;
}

.archive-link {
  font-size: 1.1em;
  text-align: center;
}

/* Theme volume node */

.volume-views .view-writing {
  float: left;
  width: 200px;
}

.volume-views .view-images {
  float: right;
  width: 600px;
}

.node-inner .field-field-artwork-image {
  padding: 1em 0 0;
  text-align: center;
}
